/*Created by Ax shivam Sharma*/
.shape
{
  background-color: #ffdd00;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  border-radius: 50%;
}
.eyes
{
  width: 200px;
  padding: 100px;
}
.eye1, .eye2
{
  background-color: red;
  width: 30px;
  height: 50px;
  border-radius: 80%;
  display: inline-block;
}
.eye1
{
  margin-right: 50px;
}
.mouth
{
  background-color: black;
  width: 150px;
  height: 110px;
  border-radius: 50%;
  margin: -85px auto;
}
